/* Page */
.home-page {
    margin-top: 60%;
    scroll-behavior: smooth;
}

/* Welcome Text */
.welcomeText {
    font-size: 20px;
    text-align: center;
    animation: fadeIn 1s; 
    padding-bottom: 60%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.post {
    margin-top: 60%;
}

/* Logos later */
.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.sLogoLink {
    margin-top: auto;
    margin-bottom: auto;
    width: 18%;
    margin-left: 4%;
    margin-right: 4%;
}

.sLogo {
    transition: transform 250ms;
    width: 5em;
}

.sLogo:hover {
    transform: translateY(-20px);
}

/* Disappear */
.javaLinkRow1 {
    display: none;
}

.logosContainer {
    margin-top: 5%;
}

@media only screen and (min-width: 765px) {

    /* Page */
    .home-page {
        margin-top: 50%;
    }

    .welcomeText {
        font-size: 30px;
        padding-bottom: 25%;
    }

    .post {
        margin-top: 50%;
    }

    /* Logos */
    .sLogo {
        width: 7.5em;
    }
}


@media only screen and (min-width: 1000px) {

    /* Page */
    .home-page {
        margin-top: 16%;
    }

    /* Welcome Text */
    .welcomeText {
        font-size: 40px;
        padding-bottom: 10%;
    }

    .post {
        margin-top: 20%;
    }

    .logos {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }

    .sLogoLink {
        margin-left: 3%;
        margin-right: 3%;
        margin-top: auto;
        margin-bottom: auto;
        width: 85%;
    }

    .sLogo {
        transition: transform 250ms;
        height: inherit;
        width: inherit;
    }

    .sLogo:hover {
        transform: translateY(-20px);
    }

    .logos {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-evenly;
        width: 90%;

        flex-wrap: nowrap;
    }

    .sLogoLink {
        margin-left: 3%;
        margin-right: 3%;
        margin-top: auto;
        margin-bottom: auto;
        width: 70%;
    }

    .sLogo {
        height: inherit;
        width: inherit;
    }

    .javaLinkRow1 {
        display: block;
    }
    
    .logosContainer {
        margin-top: 0;
    }

    .javaLinkRow2 {
        display: none;
    }
}