.home-page {
    /* padding-bottom: 30%; */
    margin-top: 16%;
    scroll-behavior: smooth;
}

.welcomeText {
    font-size: 50px;
    padding-bottom: 30%;
    text-align: center;
}

.berg {
    text-align: center;
}