.PicDesc {
    display: flex;
    justify-content: space-evenly;
}

.text {
    width: 29%;
    margin-top: auto;
    margin-bottom: auto;
}

.photo {
    border-radius: 1em;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
    /* Fixes Safari Scale Transition that removes and reapplies border radius */
    will-change: transform;
}

.photo img {
    width: 24rem;
    transition: transform .5s ease;
    border-radius: 1em !important;
}

.photo:hover img {
    transform: scale(1.1);
    z-index: initial;
}

.paragraph {
    font-size: 20px;
}

.pCard {
    color: white !important;
    background-color: rgba(4, 12, 33, .1) !important;
    border-radius: 15px !important;
}

.pHeader {
    margin-left: 2%;
}