.contactFormContent {
    width: 80%;
}

.contactFormCard {
    
    display: inline-block;
    background-color: rgba(4, 12, 33, .1) !important;
    border-radius: 15px !important;
}

.cFormInput {
    margin-top: 1.5% !important;
    width: 100% !important;
}

.contactHeader {
    margin-left: 1%;
    font-size: 16px !important;
}

.sendBtn {
    width: 100%;
    margin-top: 1.5% !important;
    text-transform: unset !important;
    font-size: 12px !important;
}

/* Autofill Color Behavior */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: white;
}

@media only screen and (min-width: 765px) {
    
    .cFormInput {
        margin-top: 1.5% !important;
    }
    
    .contactHeader {
        font-size: 24px !important;
    }
    
    .sendBtn {
        font-size: 14px !important;
    }
}

@media only screen and (min-width: 1000px) {

    .contactFormContent {
        width: inherit;
    }

    .contactFormCard {
        width: 40vw;
    }
    
    .cFormInput {
        margin-top: 1.5% !important;
    }
    
    .contactHeader {
        font-size: 32px !important;
    }
    
    .sendBtn {
        font-size: 16px !important;
    }
}