.work-experience {
    margin-top: 60%;
}

.workExperienceHookText {
    font-size: 18px;
    text-align: center;
    animation: fadeIn 1s;
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60%;
}

.workPosts {
    margin-top: 60%;
}


.experienceSelector {
    margin-top: 60%;
    padding-bottom: 60%;
    display: flex;
    justify-content: center;
}

.expTabs {
    background-color: rgba(4, 12, 33, .12) !important;
    border-radius: 10rem !important;
}

.tab {
    /* Dimensions */
    width: 10em !important;
    height: 4em !important;
    border-radius: 10rem !important;

    /* Font */
    font-size: 18px !important;
    color: white !important;

    /* Unset All Caps Tabs */
    text-transform: unset !important;
}

.tab:hover {
    background-color: rgba(4, 12, 33, .1) !important;
}


@media only screen and (min-width: 765px) {
    .work-experience {
        margin-top: 48%;
    }

    .workExperienceHookText {
        font-size: 27px;
        max-width: 40rem;
        padding-bottom: 25%;
    }

    .workPosts {
        margin-top: 50%;
    }

    .experienceSelector {
        margin-top: 40%;
        padding-bottom: 40%;
    }

    .tab {
        /* Dimensions */
        width: 12em !important;
        height: 4em !important;

        /* Font */
        font-size: 21px !important;
    }
}

@media only screen and (min-width: 1000px) {
    .work-experience {
        margin-top: 15%;
    }
    
    .workExperienceHookText {
        font-size: 40px;
        text-align: center;
        animation: fadeIn 1s;
        max-width: 56rem;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10%;
    }

    .experienceSelector {
        margin-top: 20%;
        padding-bottom: 20%;
    }

    .tab {
        /* Dimensions */
        width: 30em !important;
        height: 5em !important;

        /* Font */
        font-size: 24px !important;
    }
    
    .workPosts {
        margin-top: 20%;
    }
}
