body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  /* Created with https://www.css-gradient.com */
  /* Created with https://www.css-gradient.com */
  background: #A80606;
  background: -webkit-linear-gradient(top left, #A80606, #2E3FA2);
  background: -moz-linear-gradient(top left, #A80606, #2E3FA2);
  background: linear-gradient(to bottom right, #A80606, #2E3FA2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
