.Nav {}

a {
    margin-right: 1%;
}

.navContent {
    backdrop-filter: blur(20px) !important;
    display: flex;
    justify-content: space-around;
    /* Sticky Navbar */
    position: sticky;
    top: 0;
    /* Navbar blur dimensions */
    padding-top: 4vh;
    padding-bottom: 1vh;
    width: 100%;
}

.title {
    font-size: 36px;
}

.navLinks {
    width: 25vw;
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none !important;
    color: white !important;
    margin: auto;
}