.education {
    margin-top: 15%;
}

.educationHookText {
    font-size: 40px;
    text-align: center; 
}

.One {
    
    animation: fadeIn 2s;
}

.Two {
    animation: fadeIn 4s;
}

.educationHook {
    margin-bottom: 30%;
}

.bachelorsPost {
    margin-bottom: 30%;
}