.education {
    margin-top: 15%;
}

.educationHookText {
    font-size: 40px;
    text-align: center; 
}

.One {
    
    animation: fadeIn 2s;
}

.Two {
    animation: fadeIn 4s;
    padding-bottom: 10%;
}

.eduPosts {
    margin-top: 20%;
}

.eecsLogoPng {
    width: 600px;
    transition: transform 250ms;
}

.eecsLogoPng:hover {
    transform: translateY(-10px);
}

.eecsLogoLong {
    margin-top: 3.5%;
    display: flex;
    justify-content: space-around;
}